<header>
    <div class="container">
        <nav class="navbar navbar-fixed-top navbar-transparent">
            <div class="container">
                <div class="navbar-header pull-left">
                    <div class="navbar-left logo pull-left"> 
                        <img src="../../assets/img/lock.png">
                    </div>
                    <h1 class="brand brand-name navbar-left pull-left">Login</h1>
                </div>

                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="#wishlist"><img src="../../assets/img/heart.png"></a></li>
                        <li><a href="#profile"><img src="../../assets/img/user.png"></a></li>
                    </ul>
                </div>
            </div>	
        </nav>
    </div>
</header>
<menu>
    <router-outlet></router-outlet>
</menu>