<div class="container">
    <button class="logout" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span></button>
    <div class="page-header">
        <h1>Hello, {{user}}!<small>You have 2 items in your <a href="">wishlist</a></small></h1>
    </div>
    <div>
        <div class="container">
            <div class="form-group searchInput has-success has-feedback pull-left">
                <input type="search" placeholder="Search Books" #search id="search" (keyup.enter)="OnSearch(search.value)"/>
                <span (click)="OnSearch(search.value)" class="search glyphicon glyphicon-search"></span>
            </div>
            <div class="form-group filterInput pull-right">
                 <select [ngModel]="selectedFilter" (ngModelChange)="onChange($event)" class="filter" name="Filter">
                     <option [ngValue]="filter" *ngFor="let filter of filters">{{filter.value}}</option>
                 </select>
            </div>
        </div>
    </div>
    <div class="container bookWrapper" *ngIf="books">
        <div class="row">
            <div class="col-md-3" *ngFor="let book of books">
                <div class="card">
                    <div class="card-body">
                        <div class="bookImg" *ngIf="book.volumeInfo.imageLinks">
                            <img src={{book.volumeInfo.imageLinks.smallThumbnail}} alt="book image">
                        </div>
                        <div class="details">
                            <h2 class="card-title">{{book.volumeInfo.title}}</h2>
                            <p class="card-text">{{book.volumeInfo.authors}}</p>
                            <button (click)="showDialog = !showDialog; getSearchByISBN(book.volumeInfo.industryIdentifiers[0].identifier)">More info</button>
                        </div>
                        <div class="wishlist glyphicon glyphicon-heart pull-right"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <app-dialog [(visible)]="showDialog">
        <div class="dialog-content" *ngIf="book">
            <div class="modal-body">
                <div class="details">
                    <h2 class="card-title">{{book.volumeInfo.title}}: {{book.volumeInfo.subtitle}}</h2>
                    <p class="card-text">by {{book.volumeInfo.authors}}  {{book.volumeInfo.publishedDate}}</p>
                </div>
                <div class="data">
                    <div class="bookImg pull-left" *ngIf="book.volumeInfo.imageLinks">
                        <img src={{book.volumeInfo.imageLinks.smallThumbnail}} alt="book image">
                    </div>
                    <div class="description card-description pull-right">{{book.volumeInfo.description}}</div>
                </div>
                <button class="addToWishlist"> <div class="wishlist glyphicon glyphicon-heart"></div>Add to Wishlist</button>
                <button class="closeBtn" (click)="showDialog = !showDialog">Close</button>
            </div>
        </div>
    </app-dialog>
</div>