.logout {
    border: 0;
    font-size: 20px;
    float: right;
    padding-top: 22px;
}
.page-header {
    border: 0;
    text-align: center;
}
.page-header h1 {
    display: inline-block;
    font-family: font91409;
}
.page-header h1 small {
    display: block;
    font-size: 16px;
    padding-top: 5px;
}
.page-header h1 small a {
    text-decoration: underline;
}
button {
    height: 50px;
    width: 60px;
}
.form-group {
    position: relative;
}
.search {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 0;
}
.searchInput {
    width: 482px;
    border-radius: 3px;
}
.filterInput {
    width: 232px;
    border-radius: 3px;
}
input[type=search] {
    background-color: #f8f8f8;
    border: 0;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: solid 0.5px rgba(207, 216, 220, 0.2);
    border-radius: 4.3px;
    box-shadow: 0 3px 7px 0 rgba(172, 181, 185, 0.4);
    height: 342px;
}
.card-body {
    flex: 1 1 auto;
    font-family: font91409;
}
.details {
   padding: 0.45rem; 
}
.card-title {
    margin-bottom: .75rem;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2a2c2e;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 40px;
    line-height: 20px;
}
.card-text {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: left;
    color: #78909c;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 40px;
    line-height: 20px;
}
.card-text:last-child {
    margin-bottom: 0;
}
p {
    margin: 0;
}
.bookImg {
    border-radius: 3px;
    background-color: #f0f0f0; 
    width: 100%;
    height: 216px;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 117px;
    object-fit: contain;
    height: 178px;
    position: absolute;
    margin: auto;
    top: 11px;
    left: 0;
    right: 0;
}
.bookWrapper > .row {
    display: flex;
    flex-wrap: wrap;
}
.details button {
    color: #448aff;
    font-size: 13px;
    position: absolute;
    bottom: 24px;
    cursor: pointer;
    border: 0;
    height: 0;
}
.wishlist {
    position: absolute;
    bottom: 9px;
    top: unset;
    right: 5px;
}
.glyphicon-heart:before {
    color: #448aff;
}
.addToWishlist {
    color: #fff;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  	height: 40px;
  	border-radius: 4px;
    font-size: 14px;
  	background-image: linear-gradient(97deg, #79beff, #448aff);
}
.closeBtn {
    color: #272727;
    padding: 10px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  	height: 40px;
    font-size: 14px;
  	border-radius: 4px;
  	background: transparent;
    border: solid 1px #272727;
}
.dialog-content .bookImg {
    background: transparent;
    height: auto;
    width: 117px;
}
.dialog-content .bookImg img {
    height: 175px;
    position: relative;
    top: 0;
    left: 6px;
}
.dialog-content .card-text {
    font-size: 13px;
}
.dialog-content  .card-description{
    color: #272727;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    max-height: 140px;
    line-height: 20px;
    width: 131px;
    margin-top: 12px;
}
.dialog-content .wishlist {
    position: relative;
    bottom: 0;
    top: 2px;
    right: 9px;
}
.dialog-content .glyphicon-heart[_ngcontent-c1]:before {
    color: #ffffff;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-bottom: 15px;
    outline: none;
}
select {
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 11px;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select.filter {
    background-image:
        -webkit-linear-gradient(bottom left, transparent 50%, #fff 50%),
        -webkit-linear-gradient(top left, #fff 50%, transparent 50%),
        -webkit-linear-gradient(left, #000, #000);
    background-image:
        -o-linear-gradient(bottom left, transparent 50%, #fff 50%),
        -o-linear-gradient(top left, #fff 50%, transparent 50%),
        -o-linear-gradient(left, #000, #000);
    background-image:
        linear-gradient(to top right, transparent 50%, #fff 50%),
        linear-gradient(to bottom right, #fff 50%, transparent 50%),
        linear-gradient(to right, #000, #000);;
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        6px 6px,
        6px 6px,
        2.5em 2.9em;
    background-repeat: no-repeat;
    width: 100%;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
@media (max-width: 1091px) {
    img {
        width: 80px;
        object-fit: contain;
        height: 122px;
    }
    .bookImg {
        height: 145px;
    }
    .searchInput {
        width: 100%;
    }
    .filterInput {
        width: 100%;
        float: left !important;
    }
    .dialog-content .bookImg img {
        width: 117px;
        height: 175px;
    }
}
@media (max-width: 960px) {
    .col-md-3 {
        flex: 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 540px) {
    .card-title {
        font-size: 13px;
        -webkit-line-clamp: 1;
        max-height: 20px;
        margin-top: 0px;
        margin-bottom: 0;
    }
    .card-text {
        font-size: 13px; 
    }
}
@media (max-width: 480px) {
    .card {
        height: 230px;
    } 
    .logout{ 
        position: absolute;
        right: 0;
        float: none;
    }
}