<!--
<div class="app-content">
  <div class="group">
    <form>
      <span class="app-action">
        <button md-fab (click)="logout()"><span>exit_to_app</span></button>
      </span><br><br>
      <div>
        <div>
          <div  *ngFor="let sd of data">
            <ul>
              <i >
                <div>
                  {{sd.from.name}}
                </div>
                <small>Message :</small> <p>{{sd.message}}</p>
              </i>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
-->
